<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :store_name %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :region %>
    <%= f.input :city_town %>
    <%= f.input :brgy %>
    <%= f.input :zipcode %>
    <%= f.input :mobile_phone %>
    <%= f.input :telephone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
